<label for="serverName">Server name</label>


<input 
    type="text"
    placeholder="Type server name"
    class="form-control"
    [(ngModel)]="serverName"
>

<!-- <p>{{serverName}}</p> -->
 
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onServerCreation()"
>{{serverCreated ? 'Remove server': "Add server"}}</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{serverCreation}}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, name of server is: {{serverName}}</p>

<ng-template #noServer>
    <p>No server was created</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
<hr>

<label>Username</label>
<input 
    type="text"
    class="form-control"
    [(ngModel)]="userName"
>

<p>{{userName}}</p>
<button 
    class="btn btn-primary" 
    (click)="deleteInput()"
    [disabled]="!userName"
    
    >Erase Input pls</button>

<hr>

<button 
    class="btn btn-primary"
    (click)="showAndHide()"    
    >
    Display Details
</button>

<p *ngIf="isShowing">Pintamos toda la casa sin dejar una sola gota de...</p>

<p>
    Counter: {{numbers}}
</p>

<p 
    *ngFor="let number of numbers; let i = index"
    [ngStyle]="{background: i >= 4 ? 'blue' : 'white'}"
    [ngClass]="{whiteColorCondition: i >= 4}"
    >
    click: {{number}}
</p>




