<label for="serverName">Server name</label>
<input 
    type="text" 
    name="serverName" 
    class="form-control"
    (input)="onUpdateServerName($event)"
>


<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName"
>

<!-- <p>{{serverName}}</p> -->
 
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onServerCreation()"
>{{serverCreation !== "No server was created"? "Remove Server" : "Add Server"}}</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{serverCreation}}</p>
<app-server></app-server>
<hr>

<label>Username</label>
<input 
    type="text"
    class="form-control"
    [(ngModel)]="userName"
>

<p>{{userName}}</p>
<button 
    class="btn btn-primary" 
    (click)="deleteInput()"
    [disabled]="!userName"
    
    >Erase Input</button>

