<label for="serverName">Server name</label>
<input 
    type="text" 
    name="serverName" 
    class="form-control"
    (input)="onUpdateServerName($event)"
>

<p>{{serverName}}</p>

<button 
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onServerCreation()"
>{{serverCreation ? "Remove Server" : "Add Server"}}</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<p>{{serverCreation ? "Server was created" : "No server was created"}}</p>
<app-server></app-server>
<app-server></app-server>
